---
import Welcome from "../components/Welcome"
import MainContent from "../layouts/MainContent"
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="my first astro project">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro with Preact</title>
  </head>
  <body>
    <MainContent client:load >
      <Welcome client:load/>
    </MainContent>
  </body>
</html>
